:root {
    --primary-color: #FF7F4E; 
    --accent-color: #E4DFF3;
    --card-color: #ffffff;
    --text-color: #333333;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--accent-color);
    color: var(--text-color);
}

.nav-link.active {
    border-color: var(--primary-color);
    color: var(--primary-color);
    background-color: rgba(255, 127, 78, 0.1);
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
}
::-webkit-scrollbar-track {
    background-color: #f0f0f0;
}
