/* style.css */

body {
    background-color: #FFFFFF; /* Fundo do Perfil é Branco */
    color: #1F2937;
}

/* Quando o input está no modo EDITÁVEL */
.profile-input.editable {
    background-color: #FFFFFF;
    border-color: #FF9900; /* Laranja da marca */
    box-shadow: 0 0 0 3px rgba(255, 153, 0, 0.1);
}

/* Remove o contorno padrão azul do navegador */
input:focus {
    outline: none;
}