:root {
    --primary-color: #FF7F4E; /* Laranja do botão */
    --accent-color: #E4DFF3; /* Roxo claro do fundo */
    --card-color: #FFF8F5; /* Branco/Rosado do cartão */
    --text-color: #333333;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--accent-color);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
}

.icon-wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 1.25rem;
    height: 1.25rem;
}

/* Estilos adicionais para animação */
.animate-pulse-once {
    animation: pulse 0.5s;
}
@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.02); }
    100% { transform: scale(1); }
}
